@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    font-size: medium;
}

body {
    background: url(https://user-images.githubusercontent.com/66039545/159009459-c77a48b9-026d-4aa4-8f94-370d7c9767d5.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}


h1 {
    font-family: 'Lobster',
    cursive;
    color: #cc1b1b;
    font-size: 100px;
}

h2 {
    font-family: 'Dancing Script',
    cursive;
    color: #85311b;
}