* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    position: relative;
    font-size: medium;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("https://user-images.githubusercontent.com/66039545/159009459-c77a48b9-026d-4aa4-8f94-370d7c9767d5.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}